@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ops, aconteceu algum problema.</h1>
<h2 class="text-danger">Ocorreu um problema no sistema, informe a equipe respons&aacute;vel.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

