<form method="POST" asp-action="CheckResults" asp-controller="Gerencia">
    <input type="text" class="form-control form-control-sm" name="stringg" />
    <input type="submit" class="btn btn-sm btn-primary" value="Enviar" />
</form>