@model List<ARISESLCOM.Models.Entities.ProductTypeModel>
<div class="container">
    <div class="row">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Produto - Tipo</li>
            </ol>
        </nav>
    </div>
    <div class="row bg-light border">
        <h5>Editar Produto</h5>
        <div class="mt-3">
            @foreach (var item in Model)
            {
                <a href="/Product/EditSelectSub?id=@item.PKId">@item.Tipo</a><br />
            }
            <br />
            <br />
        </div>
    </div>
</div>