<div class="container">
    <div class="row">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Sub Grupo - Tipo</li>
            </ol>
        </nav>
    </div>
    <div class="row bg-light border">
        <h5>Editar Sub Produto</h5>
        <div class="mt-3">
            <a href="/Group/EditSubGroup?id=21">Peixes Doce</a><br />
            <a href="/Group/EditSubGroup?id=8">Plantas Vivas</a>
            <br />
            <br />
        </div>
    </div>
</div>