@model List<ARISESLCOM.Models.Entities.ProductTypeModel>


<div class="container">
    <div class="row">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Integração Loja - Tipo</li>
            </ol>
        </nav>
    </div>
    <div class="row bg-light border">
        <h5>Integração ERP</h5>
        <form method="get" asp-controller="Product" asp-action="Integration" class="mt-3" id="formPT">
            <select class="form-select w-auto col-auto" id="iddd" name="sid" asp-items="@(new SelectList(Model,"PKId","Tipo"))" onchange="this.form.submit()">
                <option selected>Selecione o tipo</option>
            </select>
        </form>
        <div class="mt-3">
            Ou<br />
            <a href="/Product/IntegrationSelectSub?id=21">Peixes Doce</a><br />
            <a href="/Product/IntegrationSelectSub?id=8">Plantas Vivas</a>
            <br />
            <br />
        </div>
    </div>
</div>