@model List<ARISESLCOM.Models.ProductViewModel>

<div class="container">
    <div class="row">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Produtos com estoque</li>
            </ol>
        </nav>
    </div>
    <div class="row bg-light border">
        <h5 class="mb-4">Produtos com estoque</h5>
        <div>
            @await Html.PartialAsync("_ProductStockListPartialView", Model)
        </div>
    </div>
</div>
